{% extends "base.html" %} {% block title %} Eventos {% endblock %} 
{% block css%}
<style>
  .btn-soccer {
    color: #fff;
    background-color: #567804;
    border-color: #567804;
  }
  .btn-soccer:hover {
    color: #fff;
    background-color: #79a809;
    border-color: #79a809;
  }
  .border-soccer {
    border-color: #567804 !important;
  }
</style>
{% endblock %} {% block scripts %}
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
{% endblock %} {% block content %}
<div class="container">
  <div class="row mt-3 mb-3">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Relatórios</h2>
          <h6 class="fw-normal">Visualizar dados dos jogos</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-4">
      <label class="fw-bold">Selecionar Jogo</label>
      <select class="form-select form-select" aria-label=".form-select-lg example">
        {% for event in events %}
          {% if event.is_running == 1 %}
            <option value="{{ event.id }}" selected>{{ event.id }}</option>
          {% else %}
            <option value="{{ event.id }}">{{ event.id }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="col-sm-2">
      <label class="fw-bold">Gerar PDF</label>
      <a href="javascript:genPDF()" class="btn btn-danger"><i class="fa-solid fa-file-pdf"></i> Clique para gerar</a>
    </div>
  </div>
  <div id="pdf">    
    <div class="row mt-3 mb-3">
      <div class="col-md-6 d-flex flex-column">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row justify-content-center align-items-center">
              <div id="pie-chart-container"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex flex-column">
        <div class="panel panel-default mb-3">
          <div class="panel-body">
            <div class="row justify-content-center align-items-center">
              <div id="column-chart-container"></div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row justify-content-center align-items-center">
              <div id="line-chart-container"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block headjs %}

<script type="text/javascript">
  google.charts.load("current", { packages: ["corechart"] });
  google.charts.setOnLoadCallback(drawPieChart);
  const color_valid = "#567804"
  const color_invalid = "#b02a37"
  const color_blocked = "#0a58ca"

  function genPDF(){
	
    let doc = new jsPDF();
    doc.addHTML(document.getElementById('pdf'), 15, 15, {
      'background': '#fff',
    }, function() {
      doc.save('dados-graficos.pdf');
    });
  }

  function drawPieChart() {
    let data = google.visualization.arrayToDataTable([
      ["Ingresso", "Status"],
      ["Válido", {{ valid_count }}],
      ["Inválido", {{ invalid_count }}],
      ["Bloqueado", {{ already_checked_count }}],
    ]);

    let options = {
      title: "Ingressos",
      height: 416,
      colors: [color_valid, color_invalid, color_blocked],
    };

    let chart = new google.visualization.PieChart(
      document.getElementById("pie-chart-container")
    );

    chart.draw(data, options);
  }

  google.charts.setOnLoadCallback(drawColumnChart);
  function drawColumnChart() {
      let data = google.visualization.arrayToDataTable([
        ["Ingresso", "Status", { role: "style" } ],
        ["Válido", {{ valid_count }}, color_valid],
        ["Inválido", {{ invalid_count }}, color_invalid],
        ["Bloqueado", {{ already_checked_count }}, color_blocked],
      ]);

      let view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      let options = {
        title: "Porcentagem de ingressos por status",
        height: 200,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      let chart = new google.visualization.ColumnChart(document.getElementById("column-chart-container"));
      chart.draw(view, options);
  }

  google.charts.setOnLoadCallback(drawLineChart);
  function drawLineChart() {
    let data = google.visualization.arrayToDataTable([
      ['Hora', 'Válidos', 'Inválidos',  'Bloqueados'],
      ['01:00',  1000,      400, 12],
      ['02:00',  1170,      460, 19],
      ['03:00',  660,       1120, 29],
      ['04:00',  1030,      540, 20]
    ]);

    let options = {
      title: 'Ingressos por hora',
      curveType: 'function',
      legend: { position: 'bottom' },
      series: {
        0: { color: color_valid },
        1: { color: color_invalid },
        2: { color: color_blocked }
      }
    };

    let chart = new google.visualization.LineChart(document.getElementById('line-chart-container'));

    chart.draw(data, options);
  }

</script>

{% endblock %}
